*.log
.DS_Store
.env*
!.env.example
*.bak
*.db
*.dump
*.key
*.pem
*.p12
*.pfx
*.sqlite*
*.zip
*.rar
.phpactor.json
.phpunit.result.cache
/.codex
/.cursor/
/.md/
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
# /public/build
/public/fonts-manifest.dev.json
/public/hot
/public/storage
/storage/*.key
/storage/app/backups
/storage/pail
/vendor
composer.bat
file_path
getMessage()
_ide_helper.php
Homestead.json
Homestead.yaml
Thumbs.db
